:root {
  --transition: 0.1s;
  --border-radius: 56px;
}

body {
  /* width: 100%;
  min-height: 100vh; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e0e0e0;
  color: #fff;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

footer {
  font-size: 0.75rem;
  font-family: "SF Mono", monospace;
  color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
}
footer a {
  color: inherit;
}
footer a:hover {
  color: rgba(0, 0, 0, 1);
}

/* button */
.button-container {
  width: 300px;
  height: 100px;
  position: relative;
  transition: transform var(--transition), box-shadow var(--transition);
  user-select: none;
}

.button-container.pressed {
  transform: translateZ(0) scale(0.95);
}

.button {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25), 0px 8px 16px rgba(0, 0, 0, 0.15),
    0px 16px 32px rgba(0, 0, 0, 0.125);
  transform: translateZ(0);
  transition: transform var(--transition), box-shadow var(--transition);
  cursor: pointer;
}

.button.pressed {
  box-shadow: 0px -2px 1px rgba(255, 255, 255, 0.5),
    0px -1px 1px rgba(0, 0, 0, 0.5), 0px -4px 1px rgba(255, 255, 255, 0.5),
    0px 4px 1px rgba(255, 255, 255, 0.5), 0px 1px 1px rgba(0, 0, 0, 0.5),
    0px 4px 1px rgba(255, 255, 255, 0.5);
}

.button .shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(150, 150, 150, 0);
  opacity: 0.7;
  border-radius: var(--border-radius);
  box-shadow: inset 0px 2px 2px rgba(255, 255, 255, 1),
    inset 0px 2px 2px rgba(255, 255, 255, 0.8),
    inset 0px -2px 2px rgba(255, 255, 255, 0.5);
  transition: box-shadow var(--transition);
}

.button.pressed .shadow {
  box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.1),
    inset 0px 4px 4px rgba(0, 0, 0, 0.2), inset 0px -6px 8px rgba(0, 0, 0, 0.1);
}

.text {
  pointer-events: none;
  color: rgba(0, 0, 0, 0.7);
  font-size: 48px;
  font-weight: 500;
  position: absolute;
  left: 50%;
  top: 50%;
  /* z-index: 2000000; */
  transform: translate(-50%, -50%);
  filter: drop-shadow(0px -1px 0px rgba(255, 255, 255, 0.5))
    drop-shadow(0px 1px 0px rgba(255, 255, 255, 0.6));
  backdrop-filter: blur(2px);
  cursor: pointer;
}

.text::selection {
  background-color: transparent;
}

/* video reflection */
.button .button-reflection {
  width: 100%;
  height: 100%;
  transform: scaleX(-1);
  object-fit: cover;
  opacity: 0.7;
}

/* subtle reflecting surrounding the button */
.surface-reflection {
  height: 150px;
  width: 350px;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 100px;
  transform: translate(-50%, -50%) scaleX(-1);
  object-fit: fill;
  filter: blur(24px);
  opacity: 0.35;
  transition: opacity var(--transition), transform var(--transition);
}

.surface-reflection.pressed {
  opacity: 0.1;
}

/* details: cursors reflection && smudges */
.details-container {
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  overflow: hidden;
  /* border-radius: var(--border-radius); */
}

/* see code for explanation */
.hacky-cursor-inner-div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: var(--border-radius);
}

/* cursor reflection */
.cursor {
  height: 20px;
  width: 20px;
  position: absolute;
  left: -2px;
  top: 6px;
  filter: blur(2px);
}

/* smudges */
.fingerprint {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  width: 76px;
  height: 76px;
  background: rgba(255, 255, 255, 0.01);
  border-radius: 100%;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  mask-image: radial-gradient(
    50% 50% at 50% 50%,
    #000000 0%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-image: radial-gradient(
    50% 50% at 50% 50%,
    #000000 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

@media screen and (max-width: 800px) {
  .cursor {
    display: none;
  }
}
